@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;0,600;0,900;1,800&family=Rowdies:wght@700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Prompt';
}

 main {
    /* border: 3px red solid; */
    min-height: 50px;
    margin: 0.5rem;
}

section {
    /* border: 2px green solid ; */
    margin: 0.5rem ;
    
}

article {
    /* border: 2px purple solid; */
    margin: 0.5rem;
}

section div {
    padding: 1rem;
}

/* MENU-Encabezado */
/* Primera nav */
/* header {
    background-color: #f9ec3af5;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
    display: flex;
} */

header {
    background-color: #f9ec3af5;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1rem 2rem;
}

header nav ul li {
    list-style: none;
    float: left;
    margin-top: 2.5rem ;
}
header nav ul li a{
    
    font-size: 20px;
    color: #00545a;
    margin: 5px 20px 5px 20px;
    padding: 5px;
    transition: .5s;  
}

header nav ul li a:hover{
    color: #ffff;
} 



.Contenedor-Logo {
    display: inline-block;
    /* border: #00545a solid; */
    max-width: 10rem;
    margin-top: auto;

}

.Contenedor-Logo img {
    float: left;
    display: flex; 
    flex-direction: row;
    width: 40%;
    margin-left: 3rem;
   
    
}

/* Flecha ariiba */
.flecha-arriba{
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.flecha-arriba {
    width: 3rem;
    height: 3rem;
  }
 
/*FOOTER*/
footer {
    background-color: #032626;
    text-align: center;
    color: azure;
    
}

footer a {
    color: azure;
   
}

