@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;0,600;0,900;1,800&family=Rowdies:wght@700&display=swap');

.nav-responsive{
    background-color:#00545a;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    
}

*{
    box-sizing: border-box;
    font-family: 'Prompt';
}

 main {
    min-height: 50px;
    margin: 0.5rem;
    background-color: #faf7f2;;
}

section {
    margin: 0.5rem ;
    
}

article {
    margin: 0.5rem;
}

section div {
    padding: 1rem;
}

/* MENU-Encabezado */

header {
    background-color: #f9ec3af5;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

header nav ul li {
    list-style: none;
    float: left;
    margin-top: 2.5rem ;
}
header nav ul li a{
    
    font-size: 20px;
    color: #00545a;
    margin: 5px 20px 5px 20px;
    padding: 5px;
    transition: .5s;  
}

header nav ul li a:hover{
    color: #ffff;
} 

h2{
    color:#00545a;
}


.Contenedor-Logo {
    display: inline-block;
    max-width: 10rem;
    margin-top: auto;

}

.Contenedor-Logo img {
    float: left;
    display: flex; 
    flex-direction: row;
    width: 40%;
    margin-left: 3rem;
   
    
}

/* Sobre Nosotros */
.SobreNosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    padding: 2rem 5rem;
   
 } 

 .SobreNosotros img {
    width: 37.5rem;
    border-radius: 50%;   
  }

  .Contenido-about{
    color: #032626;
    background-color:#f9ec3a40 ;
    border-radius: 6px;
    
  }

  @media(max-width:768px){
    .SobreNosotros{
        flex-wrap: wrap;
    }

    .SobreNosotros img {
        width: 90%;   
      }
}

@media(max-width:600px){
    .SobreNosotros{
        flex-wrap: wrap;
        padding: 1rem;
    }

    .SobreNosotros img {
        width: 80%; 
      }
}
  /* Clases */
  .Clases{
    margin: auto;
    padding: 2rem 5rem;
  }
  
.container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }


.ContenidoClases .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
    font-size: 15px;
    
}

.ContenidoClases .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.ContenidoClases .card h5{
    font-weight: 500;
}

@media(max-width:600px){
    .Clases{
        padding: 1rem;
      }
    .ContenidoClases .card{
        width: 250px;
        height: 350px;
    }  
}
/* Lutheria */
.Lutheria{
    margin: auto;
    padding: 2rem 5rem;
}
.tarjeta { 
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.tarjeta .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.tarjeta .front {
    transform: perspective(600px) rotate(0deg);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.tarjeta .front img {
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.tarjeta .front h3 {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.583);
    text-align: center;
}

.tarjeta .back {
    transform: perspective(600px) rotateY(180deg);
    background: hsla(184, 100%, 18%, 0.942);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.tarjeta .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}


.tarjeta .back p {
    padding: 1rem;
    letter-spacing: 1px;
}

.tarjeta:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

@media(max-width:600px){
    .Lutheria{
        margin: auto;
        padding: 1rem;
    }
    .tarjeta .back{
        font-size: 11px;
    }
}
/* Scroll margin */

section[id] {
    scroll-margin-top: 100px;
}

/* Flecha ariiba */
.flecha-arriba{
    position: fixed;
    right: 0.5%;
    bottom: 3%;
}

.flecha-arriba {
    width: 3rem;
    height: 3rem;
  }


/* CONTACTO */
.Contacto{
    background:linear-gradient(to top, rgba(252, 252, 252, 0.566), rgba(222, 218, 210, 0.609)) 
    ,url(../img/partituras.jpg);
    background-size: cover;
}
.Contacto .Contenido-Seccion{
    max-width: 1000px;
    margin: auto;
}

.Contacto .Contenido-Seccion h2{
    font-size: 48px;
    font-family: 'Prompt';
    text-align: center;
    padding: 20px 0;
}

.Contacto .fila{
    display: flex;
}
.Contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.Contacto .col input, .Contacto .col textarea{
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #00545a;
    margin-bottom: 20px;
    font-size: 18px;

}
.Contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #00545a;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #00545a;
    position: relative;
    z-index: 10;
}
.Contacto button .overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f9ec3af5;
    z-index: -1;
    transition: 1s;
}
.Contacto button:hover .overlay{
    width: 100%;
}

.Contacto .colMapa{
    position: relative;
    text-align: center;
}
@media(max-width:768px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background: linear-gradient(to top,rgba(249, 236, 58, 0.946), rgba(249, 236, 58, 0.937));
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #f9ec3af5;
        padding: 10px 0;
    }
    .Contenido-Seccion{
        width: 80%;
    }
    .fila{
        flex-direction: column;
        
    }
    .Contacto .col{
        width: auto;
    }
    .Contacto .Contenido-Seccion h2{
        font-size: 38px;
    }


    
}

@media(max-width:600px){
    .fila{
        flex-direction: column;
    }
   #name{
    padding: 2px;
    font-size: 14px;
    margin: 0px 0px 10px;
   }

   #phone{
    padding: 2px;
    font-size: 14px;
    margin: 0px 0px 10px;
   }

   #email{
    padding: 2px;
    font-size: 14px;
    margin: 0px 0px 10px;
   }

   #asunto{
    padding: 2px;
    font-size: 14px;
    margin: 0px 0px 10px;
   }
   #mensaje{
    padding: 2px;
    font-size: 14px;
    margin: 0px 0px 10px;
   }
   
    .mapa iframe{
        width: 10rem; 
        
    }

}
/* Comentarios y Reviews */
.Comentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Comentarios .Contenido-Seccion{
   margin: 30px 0px;
   padding: 10px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonial-box{
    width: 500px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.perfil{
    display: flex;
    align-items: center;
}

.box-top{
    display: flex;
    flex-direction: column;

}
.box.top strong{
    color: #00545a;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.box-top span{
    color: #979797;
    font-size: 0.8rem;
}
.comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}

.comment i{
    color:  #00545a;
    font-size: 1.5rem; 
}

@media(max-width:1060px){
    .testimonial-box{
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px){
    .testimonial-box{
        width: 100%;
    }
}

@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
/*FOOTER*/
footer {
    background-color: #032626;
    text-align: center;
    color: azure;
    
}

footer a {
    color: azure;
   
}

footer a:hover{
    color: #f9ec3af5;
}

.redes{
    border-inline-end: solid 2px azure;
    align-items: center;
    margin: 0;
    padding-right: 5px;
}

